.containerInput {
  /* position: relative;
  display: inline-block; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.robotContainer {
  margin-top: 1rem;
  background-color: var(--card-bg);
  /* background-color: aqua; */
  
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.robotContainer p {
  color: var(--btn-text);
}

.icon {
  height: 50%;
  fill: var(--btn-text);
}

.inputLabel {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.warningText {
  position: absolute;
  left: 0;
  top: 100%;
  margin: 0.25rem 0 0 0;
  color: red;
  font-size: 0.9rem;
}

.timeInput {
  width: 4.5rem;
  text-align: center;
  height: 3rem;
  margin-left: 1rem;
  border: 0;
  border-radius: .5rem;
  background-color: var(--card-bg);
  color: var(--btn-text);
  font-size: 1rem;
}

.warningText {
  min-height: 1.2rem;
  margin-top: 0.4rem;
  color: red;
}