.containerV {
    width: 100%; 
    max-width: 1200px;
    margin: 0;
    padding: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: bisque;
}

@media (max-width: 768px) {
    .containerV {
        padding: 2rem;
    }
}