.footer {
height: 10rem;
width: 100%;
background: linear-gradient(to top, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
display: flex;
justify-content: center;
align-items: center;
}

.footerText {
  color: var(--text);
  font-size: .8rem;
  font-weight: 400;
}

.team {
  background-color: var(--team-icon);
  color: var(--team-icon-text);
  border-radius: .4rem;
  padding: 4px 6px;
  font-weight: 600;
  transition: background-color .3s ease;
  cursor: pointer;
}

.team:hover {
  background-color: rgb(84, 119, 159);
  
}