.container {
    width: 9rem;
    height: auto;
    overflow: hidden;
    
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: space-between;
    /* padding: .5rem 0 0 0; */
    color: var(--darkmode-text-graph);
}

.containerDay {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 1rem;
    margin-bottom: 4px;
}

.containerInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.hourLabel {
    font-size: .6rem;
}

.dividerLine {
    width: 100%;
    border-top: 1px solid rgba(255,255,255,.4);
    height: 0;
}

.containerH2 {
    margin-bottom: 0rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}

.containerH3 {
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
}
