.mainContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    /* height: 100%; */
    /* background-color: #805858; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timerRunning {
    background-color: var(--bg-green);
}