/* src/components/ModeCard.css */
.mode-card {
  width: 200px;
  height: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #4b4c59;
  margin: 10px;
  transition: background-color 0.3s;
}

.mode-card:hover .mode-icon {
  color: #222; /* eller #222, #ff4444, etc. */
}

.mode-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  color: lime !important;
}

.mode-card .mode-icon path {
  fill: blue;
}

.mode-title {
  font-size: 18px;
  font-weight: bold;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
