.navBar {
    /* background-color: aquamarine; */
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 0 2rem; /* Padding vänster och höger*/
    gap: .4rem;
}

.iconBtn {
    background: none;
    padding: 0;
    border: 0;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: var(--icon);
    transition: color 0.2s ease, transform 0.2s ease;
}

.iconBtn:hover {
    color: var(--icon-hover);
    transform: scale(1.25);
}

.icon {
    width: 100%;
    height: 100%;
    display: block;
    fill: currentColor;
}

.spacer {
    width: 1rem;
}