:root {
    --timer-size: 400px;
}
.timer {
  width: var(--timer-size);
  height: var(--timer-size);
  position: relative;
}

.svg {
  width: 100%;
  height: 100%;
}

.background {
  stroke: var(--timer-bg);
}

.progress {
  stroke: var(--text);
  stroke-linecap: round;
  transition: stroke-dashoffset 0.45s linear;
}

.time {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 52px;
  font-weight: 600;
  color: var(--text);
  user-select: none;
  -webkit-user-select: none; /* Safari */
}

.currentTime {
  position: absolute;
  inset: 0;
  top: -5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text);
  user-select: none;
  -webkit-user-select: none; /* Safari */
}