*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--darkmode-bg);
  color: var(--darkmode-text);
  /* font-family: roboto; */
  transition: background-color 0.5s;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.timer-active-bg {
  background-color: var(--darkmode-bg-green);
}