*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

:root {
  --text: #ffffff;
  --icon: #858585;
  --icon-hover: #ffffff;
  --bg: #34353D;
  --bg-green: #2F3C2C;
  --btn: #34353D;
  --btn-red: #4a2d2d;
  --btn-hover: #37383f;
  --btn-red-hover: #543434;
  --btn-text: #ffffff;
  --btn-icon: #ffffff;
  --card-bg: #4a4b57;
  --card-bg-hover: #5a5b6a;
  --text-graph: rgba(255,255,255,.4);
  --team-icon: rgb(64, 99, 139);
  --team-icon-text: rgb(255, 255, 255);
  --timer-bg: #00000046;
  --calendar-line: rgba(255,255,255,.4);
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  /* font-family: roboto; */
  transition: background-color 0.5s;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.timer-active-bg {
  background-color: var(--bg-green);
}