:root {
    --lightmode-text: #494949;
    --lightmode-bg: #D7D7D7;

    --darkmode-text: #ffffff;
    --darkmode-bg: #34353D;
    --darkmode-bg-green: #2F3C2C;
    --darkmode-hover-primary: #4aa84a;

    --button-br: 1rem;
}