:root {
    --lightmode-text: #494949;
    --lightmode-icon: #858585;
    --lightmode-icon-hover: #ffffff;
    --lightmode-bg: #D7D7D7;
    --lightmode-bg-green: #2F3C2C;
    --lightmode-btn: #34353D;
    --lightmode-btn-hover: #37383f;
    --lightmode-card-bg: #4a4b57;
    --lightmode-card-bg-hover: #5a5b6a;
    --lightmode-text-graph: rgba(255,255,255,.4);

    --darkmode-text: #ffffff;
    --darkmode-icon: #858585;
    --darkmode-icon-hover: #ffffff;
    --darkmode-bg: #34353D;
    --darkmode-bg-green: #2F3C2C;
    --darkmode-btn: #34353D;
    --darkmode-btn-hover: #37383f;
    --darkmode-card-bg: #4a4b57;
    --darkmode-card-bg-hover: #5a5b6a;
    --darkmode-text-graph: rgba(255,255,255,.4);

    --button-br: 1rem;
}